name: actions
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          golangci_lint_flags: "--enable-all --timeout=10m --exclude-use-default=false --tests=false --skip-dirs=example --disable=gochecknoinits,gochecknoglobals,exhaustive,nakedret,exhaustivestruct,lll,godox,wrapcheck"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.13

      - name: Check out code
        uses: actions/checkout@v1

      - name: holmes_test.go
        run: GO111MODULE=on go test -mod=vendor -gcflags=-l -v
